<%# This stream directly adds a label to the tag list %>
<% if @label %>
  <turbo-stream action="append" target="labels-tag-list">
    <template>
      <span
        id="label-item-<%= @label.name %>"
        class="
          tag inline-flex items-center justify-center px-2 py-1 text-sm rounded-md
          bg-stone-100 text-stone-700 gap-2 font-sans border border-stone-100
        "
        data-label-name="<%= @label.name %>"
      >
        <div class="size-3.5 rounded" style="background-color: <%= @label.color %>"></div>
        <span><%= @label.name %></span>
        <%= button_to remove_label_subscribers_path(@newsletter.slug, @subscriber.id, @label.name), 
              method: :delete,
              class: "ml-1 text-stone-400 hover:text-stone-700 bg-transparent border-0",
              form: { data: { turbo: true } } do %>
          <%= lucide_icon("x", class: "size-3") %>
        <% end %>
      </span>
    </template>
  </turbo-stream>

  <%# Update the dropdown to show the label as added with remove option %>
  <turbo-stream action="replace" target="label-dropdown-<%= @label.name %>">
    <template>
      <%= render "newsletters/subscribers/partials/label_dropdown_item", label: @label, subscriber: @subscriber, newsletter: @newsletter, already_added: true %>
    </template>
  </turbo-stream>
<% end %>