<main class="flex flex-wrap gap-5">
  <%= render 'newsletters/sidebar' %>
  <section class="basis-0 flex-grow-[999] [min-inline-size_50%] min-h-screen py-5">
    <section class="w-full min-h-full p-5 bg-white border rounded-md shadow-sm border-zinc-100">
      <div class="flex items-center justify-between gap-2">
        <h2 class="text-xl font-medium">Subscribers</h2>
        <div class="space-x-1">
          <button class="font-sans text-sm btn-secondary">Import Subscribers</button>
          <button class="font-sans text-sm btn-secondary">Export to CSV</button>
        </div>
      </div>

      <div class="grid gap-2 mt-5 md:grid-cols-3">
        <%= link_to subscribers_path(@newsletter.slug), class: "px-4 py-2 space-y-2 rounded-md #{params['status'] == 'verified' || params['status'].nil? ? 'bg-stone-100 shadow-sm' : 'opacity-80'}" do %>
          <div class="font-sans text-xs font-medium tracking-widest uppercase text-stone-500">Verified Subscribers</div>
          <div class="text-3xl font-medium text-stone-900">
            <%= @newsletter.subscribers.verified.count %>
          </div>
        <% end %>
        <%= link_to subscribers_path(@newsletter.slug, status: :unverified), class: "px-4 py-2 space-y-2 rounded-md #{params['status'] == 'unverified' ? 'bg-stone-100 shadow-sm' : 'opacity-80'}" do %>
          <div class="font-sans text-xs font-medium tracking-widest uppercase text-stone-500">Unverified Subscribers</div>
          <div class="text-3xl font-medium text-stone-900">
            <%= @newsletter.subscribers.unverified.count %>
          </div>
        <% end %>
        <%= link_to subscribers_path(@newsletter.slug, status: :unsubscribed), class: "px-4 py-2 space-y-2 rounded-md #{params['status'] == 'unsubscribed' ? 'bg-stone-100 shadow-sm' : 'opacity-80'}" do %>
          <div class="font-sans text-xs font-medium tracking-widest uppercase text-stone-500">Unsubscribed</div>
          <div class="text-3xl font-medium text-stone-900">
            <%= @newsletter.subscribers.unsubscribed.count %>
          </div>
        <% end %>
      </div>
      </div>
      <% if @subscribers.empty? %>
        <div class="h-full py-20 mt-8 border border-dashed rounded-md border-stone-300">
          <p class="text-center text-stone-500">No subscribers found</p>
        </div>
      <% else %>
        <section class="mt-8 divide-y divide-stone-200/60">
          <div class="grid grid-cols-10 py-4 font-sans text-xs font-medium tracking-widest uppercase text-stone-500">
            <div class="col-span-3">
              Name
            </div>
            <div class="col-span-3">
              Email
            </div>
            <div class="col-span-2 text-right">
                <% if params['status'] == 'unsubscribed' %>
                  Unsubscribed on
                <% elsif params['status'] == 'verified' || params['status'].nil? %>
                  Verified on
                <% elsif params['status'] == 'unverified' %>
                  Signed up on
                <% end %>
            </div>
            <div class="col-span-2 text-right">
              Created on
            </div>
          </div>
          <% @subscribers.each do |subscriber| %>
            <%= render 'subscribers/card', subscriber: subscriber %>
          <% end %>
        </section>
        <div class="flex items-center justify-end mt-4">
          <%= paginate @subscribers, window: 2 %>
        </div>
      <% end %>
    </section>
  </section>
</main>
