<div class="flex items-center justify-between gap-2">
  <h2 class="text-xl font-medium">
    <%= link_to subscribers_path(@newsletter.slug), class:"text-stone-500 hover:text-stone-600" do %>
      Subscribers /
    <% end %>
    <%= @subscriber.display_name %>
    <div class="ml-3 inline">
      <% if @subscriber.status == 'verified' %>
        <span
          class="
            inline-flex items-center justify-center h-6 text-[10px] gap-x-1 font-medium
            border-green-400 border px-2 uppercase tracking-widest font-sans text-green-500
            bg-green-100 rounded-md
          "
        >
          <%= lucide_icon("mail-check", class: "size-3") %>
          Verified
        </span>
      <% elsif @subscriber.status == 'unsubscribed' %>
        <span
          class="
            inline-flex items-center justify-center h-6 text-[10px] gap-x-1 font-medium
            border-orange-400 border px-2 uppercase tracking-widest font-sans
            text-orange-500 bg-orange-100 rounded-md
          "
        >
          <%= lucide_icon("mail-x", class: "size-3") %>
          Unsubscribed
        </span>
      <% elsif @subscriber.status == 'unverified' %>
        <span
          class="
            inline-flex items-center justify-center h-6 text-[10px] gap-x-1 font-medium
            border-yellow-400 border px-2 uppercase tracking-widest font-sans
            text-yellow-600 bg-yellow-100 rounded-md
          "
        >
          <%= lucide_icon("mail-question", class: "size-3") %>
          Verification Pending
        </span>
      <% end %>
    </div>
  </h2>
</div>

<%= form_with model: @subscriber, url: subscriber_path(@newsletter.slug, @subscriber.id), method: :patch, class: "py-6" do |form| %>
  <div class="max-w-lg space-y-4">
    <label class="block space-y-1">
      <%= form.label :email, class: "ml-px text-stone-500 text-sm" %>
      <%= form.text_field :email,
                      required: true,
                      disabled: true,
                      class: "input w-full bg-stone-200 text-stone-600" %>
    </label>
    <label class="block space-y-1">
      <%= form.label :full_name, "Full name", class: "ml-px text-stone-500 text-sm" %>
      <%= form.text_field :full_name,
                      required: true,
                      class: "input w-full",
                      autofocus: true %>
    </label>
    <label class="block space-y-1">
      <%= form.label :notes, "Editor notes", class: "ml-px text-stone-500 text-sm" %>
      <%= form.text_area :notes,
                     rows: 5,
                     required: true,
                     class: "input w-full",
                     autofocus: true %>
    </label>
  </div>
<% end %>

<div>
  <div class="leading-6 text-stone-800 font-medium text-sm font-sans">
    <% if @subscriber.status == 'unsubscribed' %>
      <span class="font-normal text-stone-500">Unsubscribed at</span>
      <%= @subscriber.unsubscribed_at.strftime("%B %d, %Y") %>
    <% elsif @subscriber.status == 'verified' %>
      <span class="font-normal text-stone-500">Verified at</span>
      <%= @subscriber.verified_at.strftime("%B %d, %Y") %>
    <% elsif @subscriber.status == 'unverified' %>
      <span class="font-normal text-stone-500">Subscriberd at</span>
      <%= @subscriber.created_at.strftime("%B %d, %Y") %>
    <% end %>
  </div>
  <div class="leading-6 text-stone-800 font-medium text-sm font-sans">
    <span class="font-normal text-stone-500">Created at</span>
    <%= @subscriber.created_at.strftime("%B %d, %Y") %>
  </div>
</div>
