<div class="flex items-center justify-between gap-2">
  <h2 class="text-xl font-medium">
    <%= link_to subscribers_path(@newsletter.slug), class:"text-stone-500 hover:text-stone-600" do %>
      Subscribers /
    <% end %>
    <%= @subscriber.display_name %>
    <div class="ml-3 inline">
      <% if @subscriber.verified? %>
        <span
          class="
            inline-flex items-center justify-center h-6 text-[10px] gap-x-1 font-medium px-2
            border-b border-green-200 uppercase tracking-widest font-sans text-green-500
            bg-green-100 rounded-md
          "
        >
          <%= lucide_icon("mail-check", class: "size-3") %>
          Verified
        </span>
      <% elsif @subscriber.unsubscribed? %>
        <span
          class="
            inline-flex items-center justify-center h-6 text-[10px] gap-x-1 font-medium
            border-orange-400 border px-2 uppercase tracking-widest font-sans
            text-orange-500 bg-orange-100 rounded-md
          "
        >
          <%= lucide_icon("mail-x", class: "size-3") %>
          Unsubscribed
        </span>
      <% elsif @subscriber.unverified? %>
        <span
          class="
            inline-flex items-center justify-center h-6 text-[10px] gap-x-1 font-medium
            border-yellow-400 border px-2 uppercase tracking-widest font-sans
            text-yellow-600 bg-yellow-100 rounded-md
          "
        >
          <%= lucide_icon("mail-question", class: "size-3") %>
          Verification Pending
        </span>
      <% end %>
    </div>
  </h2>
</div>

<%= form_with model: @subscriber, url: subscriber_path(@newsletter.slug, @subscriber.id), method: :patch, class: "max-w-lg space-y-4" do |form| %>
  <label class="block space-y-1">
    <%= form.label :email, class: "ml-px text-stone-500 text-sm" %>
    <div class="relative">
      <%= form.text_field :email,
                      required: true,
                      disabled: true,
                      class: "input w-full bg-stone-200 text-stone-600" %>
      <div class="absolute right-2 top-2 font-mono text-xs">
        <%= button_to_copy_to_clipboard(@subscriber.email) %>
      </div>
    </div>
  </label>
  <label class="block space-y-1">
    <%= form.label :full_name, "Full name", class: "ml-px text-stone-500 text-sm" %>
    <%= form.text_field :full_name,
                    autocomplete: false,
                    required: true,
                    class: "input w-full",
                    autofocus: true %>
  </label>
  <label class="block space-y-1">
    <%= form.label :notes, "Editor notes", class: "ml-px text-stone-500 text-sm" %>
    <%= form.text_area :notes, rows: 5, class: "input w-full" %>
  </label>
  <%= form.submit "Update Subscriber", class: "btn btn-primary" %>
<% end %>

<hr class="max-w-lg my-8">
<section class="max-w-lg grid gap-6">
  <%= render "newsletters/subscribers/partials/actions" %>
</section>

<%= render "newsletters/subscribers/partials/info" %>
