<main class="max-w-xl pt-20 pb-10 mx-auto min-h-screen">
  <section class="mb-2 flex gap-5 justify-between items-start">
    <div
      class="
        text-stone-500 font-sans uppercase tracking-wider font-semibold
        text-xs
      "
    >
      <%= link_to newsletter.title,
      :newsletter,
      class: "text-stone-500 hover:text-stone-700 duration-200 transition-colors" %>
      /
      <%= link_to "Archive",
      newsletter_all_posts_path,
      class: "text-stone-500 hover:text-stone-700 duration-200 transition-colors" %>
    </div>

    <div class="text-sm text-stone-500 font-sans">
      Published on
      <span class="font-medium text-stone-800">
        <%= post.published_at.present? ? post.published_at.strftime("%B %e, %Y") : "Unpublished" %>
      </span>
    </div>
  </section>

  <article class="post-rich-content" style="--post-font-family: <%= newsletter.font_family %>;">
    <h1 class="text-3xl"><%= post.title %></h1>
    <%= post.content %>
  </article>

  <hr class="my-8">

  <footer class="max-w-xl mx-auto">
    <p class="text-lg text-stone-700 mb-4">
      Don't miss what's next. Subscribe to <%= newsletter.title %>
    </p>

    <%= render newsletter.template_partial("subscribe"), newsletter: newsletter %>

    <p class="text-sm text-stone-500 text-center">
      This newsletter is managed by
      <%= link_to "Picoletter", "/", class: "text-zinc-500 hover:underline" %>.
    </p>
  </footer>
</main>
