<article class="max-w-xl py-8 mx-auto">
  <div
    class="
      prose prose-headings:text-newsletter-primary prose-a:text-newsletter-primary
    "
  >
    <h1 class="text-3xl"><%= @post.title %></h1>
    <%= @post.content %>
  </div>

  <hr class="my-8"/>

  <div class="font-sans text-sm text-stone-500">
    Published and sent on
    <span class="font-medium text-stone-800"><%= @post.published_at_tz.strftime("%B %e, %Y") %></span>
    at
    <span class="font-medium text-stone-800"><%= @post.published_at_tz.strftime("%H:%M %p") %></span>
  </div>

  <% if @post.emails.count.positive? %>
    <div class="mt-8 bg-stone-50 rounded-lg px-4 py-3">
      <h3 class="text-base font-medium text-stone-900 mb-4">Sending Statistics</h3>

      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-6">
        <div>
          <div class="text-xl font-semibold text-stone-900"><%= @post.emails.count %></div>
          <div class="text-sm font-sans text-stone-600">Total Sent</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= @post.emails.delivered.count %></div>
          <div class="text-sm font-sans text-stone-600">Delivered</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= @post.emails.where.not(opened_at: nil).count %></div>
          <div class="text-sm font-sans text-stone-600">Opened</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= @post.emails.bounced.count %></div>
          <div class="text-sm font-sans text-stone-600">Bounced</div>
        </div>

        <% total = @post.emails.count.to_f
        delivered = @post.emails.delivered.count.to_f
        opened = @post.emails.where.not(opened_at: nil).count.to_f
        bounced = @post.emails.bounced.count.to_f

        delivery_rate = total.zero? ? 0 : (delivered / total * 100).round(1)
        bounce_rate = total.zero? ? 0 : (bounced / total * 100).round(1)
        open_rate = delivered.zero? ? 0 : (opened / delivered * 100).round(1) %>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= delivery_rate %>%</div>
          <div class="text-sm font-sans text-stone-600">Delivery Rate</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= bounce_rate %>%</div>
          <div class="text-sm font-sans text-stone-600">Bounce Rate</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= open_rate %>%</div>
          <div class="text-sm font-sans text-stone-600">Open Rate</div>
        </div>
      </div>
    <% end %>
  </div>
</article>
