<article class="max-w-xl py-8 mx-auto">
  <div class="post-rich-content" style="--post-font-family: <%= @newsletter.font_family %>; --post-content-accent: <%= @newsletter.primary_color %>; --pl-primary-color: <%= @newsletter.primary_color %>;">
    <h1 class="text-3xl mb-5"><%= @post.title %></h1>
    <%= @post.content %>
  </div>

  <hr class="my-8">

  <div class="font-sans text-sm text-stone-500">
    Published and sent on
    <span class="font-medium text-stone-800"><%= @post.published_at_tz.strftime("%B %e, %Y") %></span>
    at
    <span class="font-medium text-stone-800"><%= @post.published_at_tz.strftime("%H:%M %p") %></span>
  </div>

  <% if @post.emails.count.positive? %>
    <div class="mt-8 bg-stone-50 rounded-lg px-4 py-3">
      <h3 class="text-base font-medium text-stone-900 mb-4">
        Delivery Metrics
      </h3>

      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-2">
        <% stats = @post.stats %>
        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:total] %></div>
          <div class="text-sm font-sans text-stone-600">Total Sent</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:delivered] %></div>
          <div class="text-sm font-sans text-stone-600">Delivered</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:opened] %></div>
          <div class="text-sm font-sans text-stone-600">Opened</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:bounced] %></div>
          <div class="text-sm font-sans text-stone-600">Bounced</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:delivery_rate] %>%</div>
          <div class="text-sm font-sans text-stone-600">Delivery Rate</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:bounce_rate] %>%</div>
          <div class="text-sm font-sans text-stone-600">Bounce Rate</div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @post.email_clicks.any? %>
    <div class="mt-8 bg-stone-50 rounded-lg px-4 py-3">
      <h3 class="text-base font-medium text-stone-900 mb-4">
        Engagement Metrics
      </h3>

      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-4">
        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:open_rate] %>%</div>
          <div class="text-sm font-sans text-stone-600">Open Rate</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:click_through_rate] %>%</div>
          <div class="text-sm font-sans text-stone-600">Click-Through Rate</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= stats[:click_to_open_rate] %>%</div>
          <div class="text-sm font-sans text-stone-600">Click-to-Open Rate</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= @post.stats[:total_clicks] %></div>
          <div class="text-sm font-sans text-stone-600">Total Clicks</div>
        </div>

        <div>
          <div class="text-xl font-semibold text-stone-900"><%= @post.stats[:unique_clickers] %></div>
          <div class="text-sm font-sans text-stone-600">Unique Clickers</div>
        </div>
      </div>

      <%= render "clicked_links", post: @post %>
    </div>
  <% end %>
</article>
