<div class="relative font-sans">
  <div
    class="
      bg-white rounded-lg shadow outline outline-1 outline-stone-200 px-2 py-1.5 flex
      items-center justify-between gap-2 min-w-0
    "
  >
    <div class="font-sans text-sm truncate text-stone-900 flex-grow-0">
      <%= @newsletter.title %>
    </div>
    <%= lucide_icon("chevrons-up-down", class: "size-3 text-stone-500") %>
  </div>
  <div
    class="
      absolute bg-white rounded-lg shadow mt-2 outline outline-1 outline-stone-200 p-2
      w-full
    "
  >
    <div class="grid gap-1 text-sm">
      <% Current.user.newsletters.each do |newsletter| %>
        <%= link_to posts_path(newsletter.slug),
                        class: "rounded-md flex items-center justify-between gap-2 px-2 py-1 rounded-md
                                #{@newsletter.slug == newsletter.slug ? 'bg-stone-100' : 'hover:bg-stone-100'}" do %>
          <span><%= newsletter.title %></span>
          <% if @newsletter.slug == newsletter.slug %>
            <%= lucide_icon("check", class: "size-4 text-green-500") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="border-t border-stone-200 pt-2 mt-2">
      <%= link_to new_newsletter_path, class: "btn btn-sm btn-clear w-full text-left flex items-center gap-1 pl-1" do %>
        <%= lucide_icon("plus", class: "size-3 text-stone-500") %>
        <span>Create new newsletter</span>
      <% end %>
    </div>
  </div>
</div>
