<aside class="sticky top-0 grid h-screen py-5 basis-44">
  <section class="flex flex-col justify-between flex-grow space-y-5">
    <div class="space-y-5">
      <h1 class="mt-1 text-xl"><%= @newsletter.title %></h1>
      <nav class="grid flex-grow gap-1 text-stone-500">
        <ul>
          <li>
            <%= link_to posts_path(@newsletter.slug), class: "flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md #{'bg-stone-200/50' if current_page?(posts_path(@newsletter.slug))}" do %>
              <span>Posts</span>
              <span class="rounded-md px-2 py-0.5 leading-3 bg-stone-200 text-[10px] font-sans tabular-nums">
                <%= @newsletter.posts.published.count %>
              </span>
            <% end %>
          </li>
        </ul>
        <ul>
          <li>
            <%= link_to drafts_posts_path(@newsletter.slug), class: "flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md #{'bg-stone-200/50' if current_page?(drafts_posts_path(@newsletter.slug))}" do %>
              <span>Drafts</span>
              <span class="rounded-md px-2 py-0.5 leading-3 bg-stone-200 text-[10px] font-sans tabular-nums">
                <%= @newsletter.posts.drafts.count %>
              </span>
            <% end %>
          </li>
        </ul>
        <ul>
          <li>
            <%= link_to subscribers_path(@newsletter.slug), class: "flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md #{'bg-stone-200/50' if current_page?(subscribers_path(@newsletter.slug))}" do %>
              <span>Subscribers</span>
              <span class="rounded-md px-2 py-0.5 leading-3 bg-stone-200 text-[10px] font-sans tabular-nums">
                <%= @newsletter.subscribers.verified.count %>
              </span>
            <% end %>
          </li>
        </ul>
        <ul>
          <li>
            <%= link_to settings_path(@newsletter.slug), class: "flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md #{'bg-stone-200/50' if current_page?(subscribers_path(@newsletter.slug))}" do %>
              <span>Settings</span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="grid gap-1 text-stone-500 justify-self-end">
      <ul>
        <li>
          <%= link_to archive_posts_path(@newsletter.slug), class: "flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md #{'bg-stone-200/50' if current_page?(archive_posts_path(@newsletter.slug))}" do %>
            <span>Archived</span>
            <span class="rounded-md px-2 py-0.5 leading-none bg-stone-200 text-xs">
              <%= @newsletter.posts.archived.count %>
            </span>
          <% end %>
        </li>
      </ul>
      <%# logout %>
      <ul>
        <li>
          <%= link_to auth_logout_path, data: { turbo_method: :delete }, class: "flex items-center justify-between gap-2 px-2 py-1 -ml-2 rounded-md hover:bg-stone-200/50" do %>
          <span>Logout</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </section>
</aside>