<%= render "newsletters/settings/partials/header" %>

<div class="space-y-8">
  <%= render "newsletters/settings/partials/settings_section", title: "Redirect Settings", subtitle: "Optionally configure where users should be redirected after subscribing or confirming their email address." do %>
    <%= labeled_form_with model: @newsletter, url: settings_embedding_path(slug: @newsletter.slug), method: :patch, class: "max-w-lg space-y-4", permission: :embedding do |form| %>
      <%= form.url_field :redirect_after_subscribe,
                     placeholder: "https://example.com/thank-you",
                     label: "After Subscribe URL",
                     hint:
                       "URL to redirect users to after they fill out the subscription form." %>

      <%= form.url_field :redirect_after_confirm,
                     placeholder: "https://example.com/welcome",
                     label: "After Confirm URL",
                     hint:
                       "URL to redirect users to after they confirm their email address." %>
      <div><%= form.submit "Save Changes", class: "btn btn-primary" %></div>
    <% end %>
  <% end %>

  <%= render "newsletters/settings/partials/settings_section", title: "Embedding Settings", subtitle: "Below is an example of customizable HTML code for an email subscription form that you can easily integrate and style to match your site." do %>
    <div class="flex items-start justify-between mb-5">
      <div>
        <form
          class="code--codeopen-form"
          action="https://codepen.io/pen/define"
          method="POST"
          target="_blank"
        >
          <%= tag.input class: "hidden", name: "data", value: @newsletter.codepen_payload %>
          <button class="font-sans text-sm btn btn-secondary">
            Open in Codepen
          </button>
        </form>
      </div>
    </div>

    <section class="grid grid-cols-2 gap-4">
      <div>
        <div class="font-mono text-xs">
          <%= render "shared/code_block", code: @newsletter.embed_form(with_name: true), lang: "html" %>
        </div>
        <div class="mt-2 py-3"><%= render "newsletters/settings/partials/label_instructions" %></div>
      </div>
      <div class="font-mono text-xs">
        <%= render "shared/code_block", code: @newsletter.embed_form_css, lang: "css" %>
      </div>
    </section>
  <% end %>
</div>
