<div class="max-w-md py-20 mx-auto">
  <h1 class="text-3xl text-stone-900">Start publishing today</h1>
  <div class="mt-2 text-xl text-stone-700">
    Create an account and start sending wonderful newsletters to your fans & friends.
  </div>
  <div
    class="
      p-6 pt-5 mt-6 bg-white border shadow-sm rounded-xl pb-7 border-neutral-200
    "
  >
    <%= form_with url: signup_path, local: true, class: "flex flex-col gap-4" do |form| %>
      <label class="space-y-1">
        <%= form.label :name, class: "ml-px text-stone-500" %>
        <%= form.text_field :name,
                        required: true,
                        class: "input w-full",
                        autofocus: true,
                        autocomplete: "name",
                        placeholder: "Jane Austen" %>
      </label>

      <label class="space-y-1">
        <%= form.label :email, class: "ml-px text-stone-500" %>
        <%= form.email_field :email,
                         required: true,
                         class: "input w-full",
                         autocomplete: "email",
                         placeholder: "jane@example.com" %>
      </label>

      <label class="space-y-1">
        <%= form.label :password, class: "ml-px text-stone-500" %>
        <%= form.password_field :password,
                            required: true,
                            minlength: 10,
                            class: "input w-full",
                            autocomplete: "current-password",
                            placeholder: "··············" %>
      </label>

      <% if @require_invite %>
      <label class="space-y-1">
        <%= form.label :invite_code, class: "ml-px text-stone-500" %>
        <%= form.text_field :invite_code,
                            required: true,
                            class: "input w-full",
                            placeholder: "ZPR1234" %>
      </label>
      <% end %>

      <div class="mt-1">
        <%= form.submit "Start publishing", class: "btn btn-primary w-full" %>
      </div>
    <% end %>

    <% unless @require_invite %>
      <%= render partial: "shared/social_buttons", locals: { label: "Or sign up with" } %>
    <% end %>
</div>
<div class="mt-3 space-y-2 text-stone-700">
  <div>
    Already have an account?
    <%= link_to "Log in", auth_login_url, class: "text-zinc-500 hover:underline" %>
  </div>
</div>
