<div class="max-w-md py-20 mx-auto">
  <h1 class="text-3xl text-stone-900">Start publishing today</h1>
  <div class="mt-2 text-xl text-stone-700">
    Create a
    <div class="relative inline group">
      <span class="font-medium underline text-stone-900">free</span>
      <div class="absolute left-0 hidden w-40 p-2 font-sans text-xs bg-white rounded-md shadow bottom-6 text-stone-600 group-hover:block">
        Zero cost, and no sneaky auto-billing surprises. Scout's honor!
      </div>  
    </div>
    account and start sending wonderful newsletters to your fans & friends.
  </div>
  <div class="p-6 pt-5 mt-6 bg-white border shadow-sm rounded-xl pb-7 border-neutral-200">
    <%= form_with model: @user, url: signup_path, local: true, class: "flex flex-col gap-4" do |form| %>
      <label class="space-y-1">
        <%= form.label :name, class: "ml-px text-stone-500"  %>
        <%= form.text_field :name, required: true, class: "input w-full", autofocus: true, autocomplete: "name", placeholder: "Jane Austen", value: params[:email_address] %>
      </label>

      <label class="space-y-1">
        <%= form.label :email, class: "ml-px text-stone-500"  %>
        <%= form.email_field :email, required: true, class: "input w-full", autocomplete: "email", placeholder: "jane@example.com", value: params[:email_address] %>
      </label>

      <label class="space-y-1">
        <%= form.label :password, class: "ml-px text-stone-500"  %>
        <%= form.password_field :password, required: true, class: "input w-full", autocomplete: "current-password", placeholder: "··············" %>
      </label>

      <div class="mt-1">
        <%= form.submit "Start publishing", class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
  <div class="mt-3 space-y-2 text-stone-700">
    <div>Already have an account?  <%= link_to "Log in", auth_login_url, class: "text-zinc-500 hover:underline" %></div>
  </div>
</div>