<div class="relative max-w-md py-20 mx-auto">
  <div
    class="
      inline-flex items-center justify-center w-10 h-10 mb-4 text-yellow-500
      bg-yellow-100 rounded-lg shadow shadow-yellow-700/20 sm:-left-14 sm:absolute
    "
  >
    <%= lucide_icon("clock", class: "w-6 h-6") %>
  </div>

  <h1 class="text-3xl leading-10 text-stone-900">Please verify your email</h1>

  <p class="mt-2 text-xl text-stone-600">
    Thank you for signing up for Picoletter. We've sent a confirmation email to
    <span class="font-medium text-stone-900"><%= Current.user.email %></span>
  </p>

  <p class="mt-2 text-xl text-stone-600">
    Check your inbox for it and click the verification link.
  </p>

  <div class="mt-5 space-y-3">
    <p class="font-sans text-sm text-stone-400">Open your email app</p>
    <div class="grid gap-2 <%= 'md:grid-cols-3' if @provider.name.nil? %>">
      <% if @provider.name.nil? || @provider.name == "Gmail" %>
        <a
          href="<%= @search_url || 'https://gmail.com' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            viewBox="0 0 256 193"
          >
            <path
              fill="#4285f4"
              d="M58.182 192.05V93.14L27.507 65.077L0 49.504v125.091c0 9.658 7.825 17.455 17.455 17.455z"
            />

            <path
              fill="#34a853"
              d="M197.818 192.05h40.727c9.659 0 17.455-7.826 17.455-17.455V49.505l-31.156 17.837l-27.026 25.798z"
            />

            <path
              fill="#ea4335"
              d="m58.182 93.14l-4.174-38.647l4.174-36.989L128 69.868l69.818-52.364l4.669 34.992l-4.669 40.644L128 145.504z"
            />

            <path
              fill="#fbbc04"
              d="M197.818 17.504V93.14L256 49.504V26.231c0-21.585-24.64-33.89-41.89-20.945z"
            />

            <path
              fill="#c5221f"
              d="m0 49.504l26.759 20.07L58.182 93.14V17.504L41.89 5.286C24.61-7.66 0 4.646 0 26.23z"
            />
          </svg>
          Gmail
        </a>
      <% end %>

      <% if @provider.name.nil? || @provider.name == "Outlook" %>
        <a
          href="<%= @search_url || 'https://outlook.office365.com/mail/login.html' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            viewBox="0 0 32 32"
          >
            <path
              fill="#0072c6"
              d="M19.484 7.937v5.477l1.916 1.205a.5.5 0 0 0 .21 0l8.238-5.554a1.174 1.174 0 0 0-.959-1.128Z"
            />
            <path
              fill="#0072c6"
              d="m19.484 15.457l1.747 1.2a.52.52 0 0 0 .543 0c-.3.181 8.073-5.378 8.073-5.378v10.066a1.408 1.408 0 0 1-1.49 1.555h-8.874zm-9.044-2.525a1.61 1.61 0 0 0-1.42.838a4.13 4.13 0 0 0-.526 2.218A4.05 4.05 0 0 0 9.02 18.2a1.6 1.6 0 0 0 2.771.022a4 4 0 0 0 .515-2.2a4.37 4.37 0 0 0-.5-2.281a1.54 1.54 0 0 0-1.366-.809"
            />
            <path
              fill="#0072c6"
              d="M2.153 5.155v21.427L18.453 30V2Zm10.908 14.336a3.23 3.23 0 0 1-2.7 1.361a3.19 3.19 0 0 1-2.64-1.318A5.46 5.46 0 0 1 6.706 16.1a5.87 5.87 0 0 1 1.036-3.616a3.27 3.27 0 0 1 2.744-1.384a3.12 3.12 0 0 1 2.61 1.321a5.64 5.64 0 0 1 1 3.484a5.76 5.76 0 0 1-1.035 3.586"
            />
          </svg>
          Outlook
        </a>
      <% end %>

      <% if @provider.name.nil? || @provider.name == "Hey" %>
        <a
          href="<%= @search_url || 'https://app.hey.com/sign_in' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            width="46"
            height="50"
            class="w-4 h-4"
            viewBox="0 0 46 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M33.2521 17.2148C34.8281 15.6299 36.8049 14.4011 38.7549 13.947L38.7282 13.9381C40.8919 13.4394 42.7885 13.9648 44.0885 15.4162C47.2138 18.9155 46.4481 27.2498 41.8268 40.1876C41.5775 40.891 40.7939 41.2561 40.0905 41.0068C39.3871 40.7575 39.022 39.9739 39.2713 39.2705C45.0679 23.047 43.1535 18.4525 42.0583 17.2237C41.435 16.5292 40.5268 16.3155 39.3425 16.5915C37.4549 17.0278 35.3624 18.6217 34.0713 20.4203C35.9857 28.0779 37.3836 36.8485 34.9884 40.3301C34.3473 41.2561 33.4569 41.7992 32.424 41.9061C31.587 41.9862 30.8213 41.6568 30.2514 40.9801C27.7226 37.9704 28.987 26.7779 30.3493 21.8717C30.5274 21.2306 30.8034 20.5806 31.1507 19.9484C31.0171 19.4319 30.8747 18.8977 30.7233 18.3456C28.3103 9.48596 24.3212 2.7544 22.9143 2.70988C21.8369 3.33317 19.0054 9.3435 25.5233 27.1073C25.7726 27.793 25.4431 28.5587 24.7664 28.8348C24.0897 29.1197 23.315 28.8169 23.0123 28.1491C16.2896 13.5107 13.0841 9.26336 11.891 8.05239C11.419 10.2517 11.1608 16.9744 19.1568 31.693C19.504 32.3341 19.2903 33.1355 18.667 33.5095C18.0438 33.8834 17.2335 33.7053 16.8328 33.0999C12.9862 27.33 7.87518 19.6723 5.83613 17.5888C5.60462 19.7525 6.28133 26.1368 13.2444 36.6882C13.6451 37.2937 13.4937 38.1129 12.906 38.5403C12.3184 38.9677 11.4903 38.8431 11.0451 38.2732C6.08544 31.9245 3.54775 30.4286 2.66624 30.0724C2.77309 31.7464 4.61625 37.2225 8.82793 41.7814C11.6506 44.8356 16.3074 48.2281 22.4869 47.026C23.226 46.8835 23.9383 47.3644 24.0808 48.1034C24.2233 48.8425 23.7424 49.5548 23.0034 49.6973C21.9349 49.9021 20.902 50 19.9136 50C12.4786 50 7.34984 44.6308 4.79434 41.1403C1.69568 36.893 -0.91324 30.6156 0.306632 28.3895C0.671703 27.7306 1.3128 27.321 2.08747 27.2587C3.15597 27.1786 4.41146 27.7752 5.7738 28.7813C2.78199 21.9607 2.64843 17.3484 3.62789 15.5586C4.16214 14.5881 4.9368 14.41 5.3464 14.3922C6.48613 14.3477 7.4745 14.9086 10.6978 19.3162C8.07108 11.151 9.12177 7.35787 9.67383 6.13799C10.0211 5.35442 10.7067 4.89141 11.4903 4.89141L11.5001 4.89151C12.3235 4.90032 14.0926 4.91923 19.139 14.1429C17.8301 5.98662 19.326 1.65919 21.6232 0.350273C22.1486 0.0564352 23.0034 -0.21069 24.0897 0.243423C27.7582 1.75713 31.5158 11.062 33.2521 17.2148ZM32.3083 39.1814C32.4418 39.1369 32.5932 39.0479 32.7713 38.7896V38.7985C33.2699 38.0684 34.4809 35.1389 32.4062 25.1751C31.311 30.945 31.311 37.9972 32.3083 39.1814Z"
              fill="url(#paint0_linear_410_4)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_410_4"
                x1="9.51165e-08"
                y1="5.63438e-08"
                x2="102.723"
                y2="60.8496"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#0074E4" />
                <stop offset="1" stop-color="#5522FA" />
              </linearGradient>
            </defs>
          </svg>
          Hey
        </a>
      <% end %>

      <% if @provider.name.nil? || @provider.name == "Yahoo!" %>
        <a
          href="<%= @search_url || 'https://mail.yahoo.com/' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-4"
            viewBox="0 0 512 143"
          >
            <path
              fill="#5f01d1"
              d="M0 34.607h30.475l17.69 45.324l17.95-45.324h29.7l-44.68 107.436H21.306l12.268-28.409zm126.676-1.808c-22.856 0-37.318 20.532-37.318 40.934c0 22.985 15.883 41.193 36.931 41.193c15.754 0 21.694-9.556 21.694-9.556v7.49h26.6V34.607h-26.6v7.102c-.13 0-6.715-8.91-21.307-8.91m5.682 25.18c10.589 0 16.012 8.394 16.012 15.883c0 8.135-5.81 16.142-16.012 16.142c-8.393 0-16.012-6.844-16.012-15.754c0-9.04 6.07-16.27 16.012-16.27m51.265 54.88V0h27.763v41.967s6.585-9.168 20.402-9.168c16.916 0 26.86 12.655 26.86 30.604v49.457h-27.635V70.118c0-6.07-2.84-12.01-9.426-12.01c-6.715 0-10.201 5.94-10.201 12.01v42.742zM306.038 32.8c-26.214 0-41.838 19.886-41.838 41.322c0 24.276 18.853 40.934 41.967 40.934c22.34 0 41.838-15.883 41.838-40.547c0-26.988-20.532-41.709-41.967-41.709m.258 25.31c9.297 0 15.625 7.747 15.625 15.882c0 6.973-5.94 15.625-15.625 15.625c-8.91 0-15.495-7.102-15.495-15.754c0-8.135 5.423-15.754 15.495-15.754m87.938-25.31c-26.214 0-41.839 19.886-41.839 41.322c0 24.276 18.853 40.934 41.968 40.934c22.34 0 41.838-15.883 41.838-40.547c0-26.988-20.403-41.709-41.967-41.709m.258 25.31c9.297 0 15.625 7.747 15.625 15.882c0 6.973-5.94 15.625-15.625 15.625c-8.91 0-15.496-7.102-15.496-15.754c0-8.135 5.553-15.754 15.496-15.754m63.66 19.498c10.202 0 18.466 8.264 18.466 18.466c0 10.2-8.264 18.465-18.465 18.465s-18.466-8.264-18.466-18.465c0-10.202 8.265-18.466 18.466-18.466m24.536-6.715H449.5L478.943 0H512z"
            />
          </svg>
          Yahoo
        </a>
      <% end %>

      <% if @provider.name.nil? || @provider.name == "Apple iCloud" %>
        <a
          href="<%= @search_url || 'https://www.icloud.com/mail' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            viewBox="0 0 256 315"
          >
            <path
              d="M213.803 167.03c.442 47.58 41.74 63.413 42.197 63.615c-.35 1.116-6.599 22.563-21.757 44.716c-13.104 19.153-26.705 38.235-48.13 38.63c-21.05.388-27.82-12.483-51.888-12.483c-24.061 0-31.582 12.088-51.51 12.871c-20.68.783-36.428-20.71-49.64-39.793c-27-39.033-47.633-110.3-19.928-158.406c13.763-23.89 38.36-39.017 65.056-39.405c20.307-.387 39.475 13.662 51.889 13.662c12.406 0 35.699-16.895 60.186-14.414c10.25.427 39.026 4.14 57.503 31.186c-1.49.923-34.335 20.044-33.978 59.822M174.24 50.199c10.98-13.29 18.369-31.79 16.353-50.199c-15.826.636-34.962 10.546-46.314 23.828c-10.173 11.763-19.082 30.589-16.678 48.633c17.64 1.365 35.66-8.964 46.64-22.262"
            />
          </svg>
          iCloud
        </a>
      <% end %>

      <% if @provider.name.nil? || @provider.name == "ProtonMail" %>
        <a
          href="<%= @search_url || 'https://account.proton.me/mail' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            class="w-4 h-4"
            viewBox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M22.86 13.9748L22.8626 13.9774L12.8571 25.0834L0 10.9315V4.82698C0.000194414 4.66987 0.0450816 4.51606 0.12942 4.38351C0.213758 4.25096 0.334066 4.14514 0.476295 4.07841C0.618524 4.01168 0.776803 3.98678 0.93265 4.00664C1.0885 4.0265 1.23548 4.09028 1.35643 4.19055L15.6214 16.0358C16.2898 16.5908 17.1312 16.8946 18 16.8946C18.8688 16.8946 19.7102 16.5908 20.3786 16.0358L22.86 13.9761V13.9748Z"
              fill="url(#paint0_linear_410_13)"
            />
            <path
              d="M28.2857 9.47095L22.86 13.9761L22.8626 13.9774L15.678 20.3237C15.0858 20.8465 14.3262 21.1403 13.5363 21.1521C12.7464 21.1639 11.9784 20.8929 11.3709 20.388L2.22078e-07 10.9315V29.073C-0.000168724 29.5621 0.0960587 30.0466 0.283183 30.4985C0.470308 30.9505 0.744661 31.3612 1.09057 31.7071C1.43647 32.053 1.84715 32.3274 2.29913 32.5145C2.75111 32.7016 3.23553 32.7978 3.72471 32.7977H28.2857L30.8571 21.1337L28.2857 9.46967V9.47095Z"
              fill="url(#paint1_radial_410_13)"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28.2857 9.47483V32.7977H32.2753C34.3324 32.7977 36 31.1301 36 29.0743V4.82569C35.9996 4.6687 35.9545 4.51506 35.8701 4.3827C35.7856 4.25034 35.6653 4.14471 35.5231 4.07814C35.3809 4.01156 35.2228 3.98678 35.067 4.00668C34.9113 4.02659 34.7644 4.09035 34.6436 4.19055L28.2857 9.47483Z"
              fill="url(#paint2_linear_410_13)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_410_13"
                x1="13.509"
                y1="25.2788"
                x2="1.43486"
                y2="-16.6625"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#E3D9FF" />
                <stop offset="1" stop-color="#7341FF" />
              </linearGradient>
              <radialGradient
                id="paint1_radial_410_13"
                cx="0"
                cy="0"
                r="1"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(30.7221 12.3252) scale(35.9848
              33.9184)"
              >
                <stop offset="0.556" stop-color="#6D4AFF" />
                <stop offset="0.994" stop-color="#AA8EFF" />
              </radialGradient>
              <linearGradient
                id="paint2_linear_410_13"
                x1="47.6421"
                y1="51.4688"
                x2="19.8707"
                y2="-8.4416"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.271" stop-color="#E3D9FF" />
                <stop offset="1" stop-color="#7341FF" />
              </linearGradient>
            </defs>
          </svg>
          ProtonMail
        </a>
      <% end %>

      <% if @provider.name == "Zoho" %>
        <a
          href="<%= @search_url || 'https://accounts.zoho.in/signin' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-4"
            viewBox="0 0 512 177"
          >
            <defs>
              <linearGradient
                id="logosZoho0"
                x1="49.996%"
                x2="49.996%"
                y1="1.431%"
                y2="96.981%"
              >
                <stop offset=".562%" stop-color="#ffe513" />
                <stop offset="100%" stop-color="#fdb924" />
              </linearGradient>
              <linearGradient
                id="logosZoho1"
                x1="4.512%"
                x2="95.672%"
                y1="13.494%"
                y2="87.064%"
              >
                <stop offset=".562%" stop-color="#008cd2" />
                <stop offset="100%" stop-color="#00649d" />
              </linearGradient>
              <linearGradient
                id="logosZoho2"
                x1="50.002%"
                x2="50.002%"
                y1="27.779%"
                y2="97.529%"
              >
                <stop offset="0%" stop-color="#26a146" />
                <stop offset="100%" stop-color="#008a52" />
              </linearGradient>
              <linearGradient
                id="logosZoho3"
                x1="43.734%"
                x2="57.544%"
                y1="8.208%"
                y2="93.198%"
              >
                <stop offset="0%" stop-color="#d92231" />
                <stop offset="100%" stop-color="#ba2234" />
              </linearGradient>
            </defs>

            <path fill="#e79225" d="M512 37.7v121.4l-16.8 16.4V56.7z" />

            <path
              fill="#fff16d"
              d="m401.9 37.8l-17.4 18.9l.9 1.2l109.1-.4l1-.8l16.5-19z"
            />

            <path
              fill="url(#logosZoho0)"
              d="M.5 19.7h111v118.9H.5z"
              transform="translate(384 37)"
            />

            <path
              fill="#fff"
              d="M478.6 99.5c-2.2-5.5-5.5-10.5-9.8-14.8c-4.1-4.2-8.7-7.4-13.9-9.5c-5.1-2.1-10.6-3.2-16.6-3.2c-6 0-11.6 1.1-16.7 3.2c-5.2 2.1-9.8 5.3-13.9 9.5c-4.3 4.3-7.5 9.3-9.7 14.8c-2.2 5.5-3.2 11.5-3.2 18.1c0 6.4 1.1 12.4 3.3 18c2.2 5.6 5.4 10.6 9.7 15c4 4.1 8.6 7.2 13.7 9.3c5.1 2.1 10.8 3.2 16.9 3.2c5.9 0 11.4-1.1 16.5-3.2s9.8-5.2 13.9-9.3c4.3-4.4 7.6-9.4 9.8-14.9c2.2-5.5 3.3-11.6 3.3-18c0-6.7-1.1-12.7-3.3-18.2m-22.9 39.2c-4.3 5.1-10 7.7-17.4 7.7c-7.4 0-13.2-2.6-17.5-7.7c-4.3-5.1-6.4-12.2-6.4-21.2c0-9.2 2.2-16.3 6.4-21.5c4.3-5.2 10-7.7 17.5-7.7c7.4 0 13.1 2.6 17.4 7.7c4.2 5.2 6.4 12.3 6.4 21.5c0 9-2.1 16.1-6.4 21.2"
            />

            <path
              fill="#009ada"
              d="M373.6 27.8v.6l14.2 109.1l-8.3 23l-1.1-.8l-14.6-104.6l.3-1.4l9.1-25.3z"
            />

            <path
              fill="#91c9ed"
              d="m264.3 43l109.3-15.2l-9.2 26.2l-1.3 1.4l-102.2 15l.5-18.7z"
            />

            <path
              fill="url(#logosZoho1)"
              d="m107.4 27l15.1 106.5l-107.7 15.1L.3 45.7l6.3-4.9z"
              transform="translate(257 27)"
            />

            <path
              fill="#fff"
              d="M346.1 74.4c-.5-3.3-1.6-5.8-3.4-7.5c-1.5-1.3-3.3-2-5.4-2c-.5 0-1.1 0-1.7.1c-2.8.4-4.9 1.7-6.2 3.8c-1 1.5-1.4 3.4-1.4 5.6c0 .8.1 1.7.2 2.6l3.9 27.7l-31 4.6l-3.9-27.7c-.5-3.2-1.6-5.7-3.4-7.4c-1.5-1.4-3.3-2.1-5.3-2.1c-.5 0-1 0-1.5.1c-2.9.4-5.1 1.7-6.5 3.8c-1 1.5-1.4 3.4-1.4 5.6c0 .8.1 1.7.2 2.7l10.6 72.1c.5 3.3 1.6 5.8 3.6 7.5c1.5 1.3 3.3 1.9 5.5 1.9c.6 0 1.2 0 1.8-.1c2.7-.4 4.7-1.7 6-3.8c.9-1.5 1.3-3.3 1.3-5.4c0-.8-.1-1.7-.2-2.6l-4.3-28.5l31-4.6l4.3 28.5c.5 3.3 1.6 5.8 3.5 7.4c1.5 1.3 3.3 2 5.4 2c.5 0 1.1 0 1.7-.1c2.8-.4 4.9-1.7 6.2-3.8c.9-1.5 1.4-3.3 1.4-5.5c0-.8-.1-1.7-.2-2.6z"
            />

            <path
              fill="#66bf6b"
              d="m162 0l-38.9 92.4l5.3 40.6l.3-.1l43.7-98.3l-.2-2.1l-9.4-31.2z"
            />

            <path
              fill="#98d0a0"
              d="m162 0l10.1 33.9l.2.7l96.2 43.1l.3-.2l-8.2-32.4z"
            />

            <path
              fill="url(#logosZoho2)"
              d="m49.1 33.9l96.7 43.6l-43.7 99.1L5.4 133z"
              transform="translate(123)"
            />

            <path
              fill="#fff"
              d="M239.5 85.5c-2.1-5.6-5-10.4-8.8-14.4c-3.8-4-8.4-7.2-13.8-9.5s-10.8-3.4-16.3-3.4h-.3c-5.6 0-11.1 1.3-16.5 3.7c-5.7 2.5-10.6 5.9-14.8 10.4c-4.2 4.4-7.6 9.8-10.2 16c-2.6 6.1-4 12.3-4.3 18.4v2.1c0 5.4.9 10.7 2.8 15.9c2 5.5 4.9 10.2 8.7 14.2c3.8 4 8.5 7.2 14.1 9.5c5.3 2.3 10.7 3.4 16.2 3.4h.1c5.5 0 11-1.2 16.4-3.5c5.7-2.5 10.7-6 14.9-10.5c4.2-4.4 7.7-9.7 10.3-15.9c2.6-6.2 4-12.3 4.3-18.4v-1.8c.1-5.5-.8-10.9-2.8-16.2m-19.3 28.8c-3.6 8.6-8.5 14.5-14.4 17.7c-3.2 1.7-6.5 2.6-9.8 2.6c-2.9 0-6-.7-9.1-2c-6.8-2.9-11-7.5-12.8-14.1c-.6-2.2-.9-4.5-.9-6.9c0-4.8 1.2-10.1 3.6-15.8c3.7-8.8 8.6-14.8 14.5-18.1c3.2-1.8 6.5-2.6 9.8-2.6c3 0 6 .7 9.2 2c6.7 2.9 10.9 7.5 12.7 14.1c.6 2.1.9 4.4.9 6.8c0 5-1.2 10.4-3.7 16.3"
            />

            <path
              fill="#760d16"
              d="m115.4 15.7l15.8 105.8l-7.2 37.2l-1-1.3l-15.4-102.2v-2l6.8-35.7z"
            />

            <path
              fill="#ef463e"
              d="M0 70.4L7.5 33l107.9-17.3l-7.3 38.1v2.5L1.3 71.4z"
            />

            <path
              fill="url(#logosZoho3)"
              d="M108.1 38.8L124 143.7L17.2 160.4L0 55.4z"
              transform="translate(0 15)"
            />

            <path
              fill="#fff"
              d="M96.6 142c-.8-1-2-1.7-3.4-2.2c-1.4-.5-3.1-.7-5.2-.7c-1.9 0-4.1.2-6.5.6l-28.2 4.8c.3-2.2 1.4-5 3.3-8.5c2.1-3.9 5.3-8.6 9.4-14c1.4-1.9 2.5-3.3 3.3-4.3c.5-.7 1.3-1.6 2.3-2.9c6.5-8.5 10.4-15.4 12-20.8c.9-3.1 1.4-6.2 1.6-9.3c.1-.9.1-1.7.1-2.5c0-2.2-.2-4.4-.6-6.6c-.3-2-.8-3.6-1.5-4.9c-.7-1.3-1.5-2.3-2.5-2.9c-1.1-.7-2.8-1-4.9-1c-1.7 0-3.8.2-6.3.6L36.9 73c-3.9.7-6.9 1.8-8.7 3.6c-1.5 1.4-2.2 3.2-2.2 5.2c0 .5 0 1.1.1 1.7c.5 2.8 1.9 4.8 4.2 5.8c1.4.6 3 .9 5 .9c1.3 0 2.8-.1 4.4-.4L66.9 85c0 .5.1 1 .1 1.4c0 1.7-.3 3.4-.9 5c-.8 2.3-2.8 5.5-6.1 9.6c-.9 1.1-2.3 2.9-4.2 5.2c-7.4 8.9-12.6 16.5-15.8 22.8c-2.3 4.4-3.8 8.6-4.7 12.9c-.5 2.5-.8 4.8-.8 7.1c0 1.6.1 3.2.4 4.7c.4 2.2.9 4 1.6 5.4c.7 1.4 1.7 2.5 2.8 3.1c1.1.6 2.6.8 4.8.8c2.7 0 6.4-.4 11.1-1.2l29.6-5.1c5.2-.9 8.9-2.2 11-3.9c1.7-1.4 2.6-3.3 2.6-5.5c0-.6-.1-1.2-.2-1.8c-.2-1.3-.7-2.5-1.6-3.5"
            />
          </svg>
          Zoho
        </a>
      <% end %>

      <% if @provider.name == "Fastmail" %>
        <a
          href="<%= @search_url || 'https://www.fastmail.com/mail/' %>"
          target="blank"
          class="
            flex items-center justify-center gap-2 font-sans text-sm bg-white
            border-stone-200 btn text-stone-500 hover:bg-stone-50 -stone-50/30
          "
        >
          <svg
            class="w-4 h-4"
            viewBox="0 0 204 204"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.4 101.8C21.4 57.4 57.4 21.4 101.8 21.4C129.7 21.4 154.3 35.6 168.7 57.2L184.5 60.3L186.5 45.3C168.2 18 137.1 0 101.8 0C45.6 0 0 45.6 0 101.8C0 122.7 6.3 142.1 17.1 158.3L32.4 160.3L34.9 146.4C26.4 133.6 21.4 118.3 21.4 101.8Z"
              fill="#0067B9"
            />
            <path
              d="M186.7 45.7C186.6 45.6 186.5 45.5 186.4 45.3L168.6 57.2C168.7 57.3 168.8 57.4 168.9 57.6C177.3 70.3 182.2 85.5 182.2 101.8C182.2 146.2 146.2 182.2 101.8 182.2C74.1 182.2 49.6 168.2 35.2 146.8C35.1 146.7 35 146.5 35 146.4L17.2 158.3C17.3 158.4 17.4 158.6 17.4 158.7C35.7 185.8 66.7 203.6 101.8 203.6C158 203.6 203.6 158 203.6 101.8C203.6 81.1 197.4 61.8 186.7 45.7Z"
              fill="#69B3E7"
            />
            <path
              d="M101.8 101.8L53.4 69.5V134C54.3 133.4 53.9 133.7 53.4 134L83.8 124.6L101.8 101.8Z"
              fill="#FFC107"
            />
            <path
              d="M53.4 134H146.8C148.7 134 150.2 132.5 150.2 130.6V69.5L53.4 134Z"
              fill="#333E48"
            />
          </svg>
          Fastmail
        </a>
      <% end %>
    </div>
  </div>

  <hr class="my-5">

  <div class="space-y-2">
    <p class="font-sans text-sm text-stone-400 mt-5 text-left">
      If you haven't received your verification email yet,
      <%= link_to "click here to resend it.",
      resend_verification_email_path,
      class: "hover:underline",
      data: {
        turbo_method: :post,
      } %>
    </p>
    <div class="font-sans text-sm text-stone-400 mt-5 text-left">
      You are logged in as
      <%= Current.user.email %>
      ,
      <%= link_to auth_logout_path, data: { turbo_method: :delete }, class: "hover:underline" do %>
        <span>click here to log out.</span>
      <% end %>
    </div>
  </div>
</div>
