<div class="grid grid-cols-10 gap-2">
  <div class="flex items-center col-span-1 gap-1"><%= record["type"] %></div>

  <div class="flex items-center col-span-3 gap-1">
    <span class="truncate"><%= record["name"] %></span>
    <%= button_to_copy_to_clipboard(record['name']) do %>
      <span class="sr-only">Copy URL</span>
    <% end %>
  </div>

  <div class="flex items-center col-span-3 gap-1 overflow-hidden">
    <span class="truncate"><%= record["value"] %></span>
    <%= button_to_copy_to_clipboard(record['value']) do %>
      <span class="sr-only">Copy URL</span>
    <% end %>
  </div>

  <div class="flex items-center justify-end col-span-1 gap-1">
    <%= record["ttl"] %>
  </div>

  <div class="flex items-center justify-end col-span-1 gap-1">
    <%= record["priority"] %>
  </div>

  <% if record['status'] %>
    <div class="flex items-center justify-end col-span-1 gap-1">
      <span
        class="
          px-2 py-1 leading-none text-[10px] uppercase rounded-md font-semibold text-white
          tracking-wider <%= "bg-stone-500" if record['status'] == "not_started" %>
          <%= "bg-yellow-600" if record['status'] == "pending" %> <%= "bg-green-500" if record['status'] == "success" %>
          <%= "bg-green-500" if record['status'] == "verified" %> <%= "bg-red-500" if record['status'] == "failure" %>
        "
      >
        <%= record["status"].titleize %>
      </span>
    </div>
  <% end %>
</div>
