<main class="max-w-xl py-10 mx-auto min-h-screen">
  <section class="mb-12">
    <h1 class="text-6xl font-serif">
      All posts
    </h1>

    <div
      class="
        text-stone-500 flex gap-6 font-sans mt-5 uppercase tracking-wider font-semibold
        text-xs
      "
    >
      <%= link_to "Newsletter Home",
      newsletter_path(slug: newsletter.slug),
      class: "text-stone-500 hover:text-stone-700 duration-200 transition-colors" %>

      <% if newsletter.website.present? %>
        <%= link_to newsletter.website, class: "text-stone-500 hover:text-stone-700 duration-200 transition-colors"  do %>
          <%= newsletter.website_label %>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="divide-y divide-stone-300">
    <% posts.reorder(:published_at => :desc).each do |post| %>
      <%= link_to newsletter_post_path(post_slug: post.slug, slug: newsletter.slug), class: "block space-y-2 py-6 first:pt-0 last:pb-0" do %>
        <h2 class="text-lg text-stone-900 font-serif"><%= post.title %></h2>

        <p class="text-stone-600 text-sm">
          <%= truncate(post.content.to_plain_text, length: 100) %>
        </p>

        <div class="text-sm text-stone-600">
          Published on <%= post.published_at.strftime("%B %e, %Y") %>
        </div>
      <% end %>
    <% end %>
  </section>

  <footer class="max-w-3xl mx-auto mt-10">
    <p class="text-sm text-stone-500 text-center">
      This newsletter is managed by
      <%= link_to "Picoletter", "/", class: "text-zinc-500 hover:underline" %>.
    </p>
  </footer>
</main>
