<div class="max-w-md py-20 mx-auto relative">
  <div
    class="
      inline-flex items-center justify-center w-10 h-10 mb-4 text-stone-500
      bg-stone-50 rounded-lg shadow sm:-left-14 sm:absolute outline-1 outline
      outline-stone-200
    "
  >
    <%= lucide_icon("fingerprint", class: "size-6") %>
  </div>

  <h1 class="text-3xl text-stone-900">Update your password</h1>

  <p class="mt-2 text-xl text-stone-700">
    No worries, we will send you the reset instructions.
  </p>

  <div class="p-6 pt-5 mt-6 bg-white border shadow-sm rounded-xl pb-7 border-neutral-200">
    <%= labeled_form_with url: password_path(params[:token]), class: "flex flex-col gap-4", method: :put do |form| %>
      <%= form.password_field :password,
                          class: "input w-full",
                          required: true,
                          autocomplete: "new-password",
                          placeholder: "Enter new password",
                          minLength: 10,
                          maxlength: 72 %>

      <%= form.password_field :password_confirmation,
                          class: "input w-full",
                          required: true,
                          autocomplete: "new-password",
                          placeholder: "Repeat new password",
                          minLength: 10,
                          maxlength: 72 %>
      <div class="mt-1"><%= form.submit "Update password", class: "btn btn-primary w-full" %></div>
    <% end %>
  </div>
</div>
