<main class="max-w-4xl md:gap-x-8 gap-y-5 gap-6 grid md:grid-cols-2 py-20 mx-auto">
  <section class="col-span-2">
    <h1 class="text-3xl leading-10 text-stone-900"><%= @newsletter.title %></h1>
  </section>
  <section class="text-stone-700 prose">
    <%= sanitize @newsletter.description_html %>
  </section>
  <section>
    <div class="p-6 pt-5 pb-7 bg-white rounded-lg shadow-without-inset mb-5">
      <%= form_with url: subscribe_path, class: "flex flex-col gap-4" do |form| %>
        <label class="space-y-1">
          <%= form.label :email, class: "ml-px text-stone-500"  %>
          <%= form.email_field :email, required: true, class: "input w-full", autofocus: true, autocomplete: "email", placeholder: "you@example.com", value: params[:email_address] %>
        </label>

        <label class="space-y-1">
          <%= form.label :full_name, class: "ml-px text-stone-500"  %>
          <%= form.text_field :name, required: true, class: "input w-full", autocomplete: "name", placeholder: "Jake Ashby" %>
        </label>

        <div>
          <%= form.submit "Subscribe", class: "btn btn-primary w-full" %>
        </div>
      <% end %>
    </div>
  </section>
</main>
<footer class="max-w-3xl mx-auto">
  <hr class="my-5">
  <p class="text-sm text-stone-500 text-center">This newsletter is managed by <%= link_to "Picoletter", "/", class: "text-zinc-500 hover:underline" %>.</p>
</footer>
