<%= render "newsletters/settings/partials/header" %>

<div
  class="
    flex max-w-lg gap-2 px-4 py-2 font-sans text-sm rounded-lg bg-stone-100
    text-stone-800
  "
>
  <div class="w-5 pt-px text-stone-400">
    <%= lucide_icon("info", class: "size-[18px]") %>
  </div>

  <div class="flex-grow leading-normal text-stone-500">
    Update the design of your newsletter emails and public archive page.
  </div>
</div>

<%= labeled_form_with model: @newsletter, url: update_design_settings_path(slug: @newsletter.slug), method: :patch, class: 'mt-5', permission: :design do |form| %>
  <div class="max-w-lg space-y-4">
    <%= render "newsletters/settings/partials/template_selector", form: form, newsletter: @newsletter %>

    <div class="space-y-2">
      <%= form.label :primary_color,
                 "Color",
                 class: "ml-px text-stone-500 text-sm font-sans" %>

      <div class="flex flex-wrap gap-1.5">
        <% Newsletter.theme_config.each do |theme| %>
          <%= form.radio_button :primary_color,
                            theme.primary,
                            class:
                              "block w-7 h-7 rounded-full border-0 focus:ring-2 focus:ring-[var(--pl-current-color)] !bg-[var(--pl-current-color)]",
                            style: "--pl-current-color: #{theme.primary}",
                            id: "color_#{theme.name.downcase}",
                            title: theme.name %>
        <% end %>
      </div>
    </div>

    <div class="space-y-2">
      <%= form.label :font_preference,
                 "Font",
                 class: "ml-px text-stone-500 text-sm font-sans" %>

      <div class="flex flex-wrap gap-1.5">
        <label
          for="font-serif"
          class="
            px-4 py-1 font-serif text-lg border-0 rounded-md ring-1 ring-stone-300
            ring-inset text-stone-500 has-[:checked]:bg-stone-100
            has-[:checked]:text-stone-900
          "
        >
          <%= form.radio_button :font_preference, "serif", class: "sr-only", id: "font-serif" %>
          Serif
        </label>

        <label
          for="font-sans-serif"
          class="
            px-4 py-1 font-sans text-lg border-0 rounded-md ring-1 ring-stone-300 ring-inset
            text-stone-500 has-[:checked]:bg-stone-100 has-[:checked]:text-stone-900
          "
        >
          <%= form.radio_button :font_preference,
                            "sans-serif",
                            class: "sr-only",
                            id: "font-sans-serif" %>
          Sans Serif
        </label>

        <label
          for="font-mono"
          class="
            px-4 py-1 font-mono text-lg border-0 rounded-md ring-1 ring-stone-300 ring-inset
            text-stone-500 has-[:checked]:bg-stone-100 has-[:checked]:text-stone-900
          "
        >
          <%= form.radio_button :font_preference,
                            "monospace",
                            class: "sr-only",
                            id: "font-mono" %>
          Monospace
        </label>
      </div>
    </div>

    <%= form.text_area :email_css,
                   rows: 8,
                   block: true,
                   class: "font-mono",
                   label: "Email CSS",
                   hint: "Use this to modify the styles of your email." %>

    <%= form.text_area :email_footer,
                   rows: 5,
                   block: true,
                   class: "font-mono",
                   label: "Footer",
                   hint:
                     'This footer will automatically be added at the end of every email. Supports <a class="underline hover:text-stone-500" target="blank" href="https://www.markdownguide.org/basic-syntax/">markdown</a>' %>
  </div>

  <div class="mt-5">
    <%= form.submit "Update Settings", class: "btn btn-primary" %>
  </div>
<% end %>
