<%= render "newsletters/settings/partials/header" %>
<section>
  <div class="flex items-start justify-between my-5">
    <div class="max-w-lg text-stone-600">
      <p>Below is an example of customizable HTML code for an email subscription
        form that you can easily integrate and style to match your site.</p>
    </div>
    <div>
      <form
        class="code--codeopen-form"
        action="https://codepen.io/pen/define"
        method="POST"
        target="_blank"
      >
        <%= tag.input class: "hidden", name: "data", value: @newsletter.codepen_payload %>
        <button class="font-sans text-sm btn btn-secondary">Open in Codepen</button>
      </form>
    </div>
  </div>
  <div class="relative font-mono text-xs">
    <div class="absolute right-2 top-2">
      <%= button_to_copy_to_clipboard(@newsletter.embded_form(with_name: true)) %>
    </div>
    <div
      class="mt-2 rounded-lg min-h-80 outline outline-1 outline-stone-100"
      id="form_html"
    >
    </div>
  </div>
  <div class="relative font-mono text-xs">
    <div class="absolute top-2 right-2">
      <%= button_to_copy_to_clipboard(@newsletter.embded_form_css) %>
    </div>
    <div
      class="mt-2 rounded-lg min-h-80 outline outline-1 outline-stone-100"
      id="css_html"
    >
    </div>
  </div>
</section>
<script type="module">
  import { codeToHtml } from 'https://esm.sh/shiki@1.0.0'

  const formCodeEl = document.getElementById('form_html')
  formCodeEl.innerHTML = await codeToHtml(`<%= raw @newsletter.embded_form(with_name: true) %>`, {
    lang: 'html',
    theme: 'github-light'
  })

  const cssCodeEl = document.getElementById('css_html')
  cssCodeEl.innerHTML = await codeToHtml(`<%= raw  @newsletter.embded_form_css %>`, {
    lang: 'css',
    theme: 'github-light'
  })
</script>

<style>
  .shiki {
    padding: 0.5rem 0.8rem;
  }
</style>
