<%= render "newsletters/settings/partials/header" %>

<%= form_with model: Current.user, url: update_profile_settings_path(slug: @newsletter.slug), method: :patch do |form| %>
  <div class="max-w-lg space-y-4">
    <label class="block space-y-1">
      <%= form.label :name, "Name", class: "ml-px text-stone-500 text-sm" %>
      <%= form.text_field :name, required: true, class: "input w-full", autofocus: true %>
    </label>

    <label class="block space-y-1">
      <%= form.label :email, "Email", class: "ml-px text-stone-500 text-sm" %>
      <%= form.text_field :email, required: true, class: "input w-full", autofocus: true %>
    </label>
  </div>
  <div class="mt-5">
    <%= form.submit "Update Settings", class: "btn btn-primary" %>
  </div>
<% end %>
