<%= render 'newsletters/settings/partials/header' %>

<%= form_with model: @newsletter, url: update_sending_settings_path(slug: @newsletter.slug), method: :patch do |form| %>
  <div class="max-w-lg space-y-4">

    <label class="flex items-center gap-1">
      <%= form.check_box :use_custom_domain %>
      <%= form.label :use_custom_domain, "Use Custom Domain", class: "ml-px text-stone-500 text-sm"  %>
    </label>

    <label class="block space-y-1">
      <%= form.label :domain, "Domain Address", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :domain, rows: 5, class: "input w-full block" %>
      <div class="font-sans text-xs text-stone-400">Do not add https:// or http:// just the domain name, like "exmaple.com"</div>
    </label>

    <label class="block space-y-1">
      <%= form.label :sending_address, "Sending Address", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :sending_address, rows: 5, class: "input w-full block" %>
    </label>

    <label class="block space-y-1">
      <%= form.label :reply_to, "Reply To", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :reply_to, rows: 5, class: "input w-full block" %>
    </label>
  </div>
  <div class="mt-5">
    <%= form.submit 'Update Settings', class: 'btn btn-primary' %>
  </div>
<% end %>

<% if @newsletter.use_custom_domain %>
<section class="mt-8">
  <div class="max-w-lg">
    <h3 class="text-lg font-medium text-stone-800">Domain Verificaiton</h3>
    <p class="mt-1 text-stone-600">Add the following DNS records to your DNS settings, to verify your domain. Verification ensures your emails are delivered properly and does not end up in spam.</p>
  </div>

  <div class="px-4 py-2 mt-4 space-y-2 font-mono text-xs rounded-lg bg-stone-100 text-stone-800">
    <div class="grid grid-cols-9 gap-5 font-medium tracking-widest uppercase text-stone-500">
      <div class="col-span-1">Type</div>
      <div class="col-span-4">Name</div>
      <div class="col-span-4">Value</div>
    </div>
    <% @newsletter.dns_records.each do |record| %>
      <div class="grid grid-cols-9 gap-5">
        <div class="col-span-1"><%= record[:type] %></div>
        <div class="col-span-4"><%= record[:name] %></div>
        <div class="col-span-4"><%= record[:value] %></div>
      </div>
    <% end %>
  </div>
</section>
<% end %>