<%= render 'newsletters/settings/partials/header' %>

<%= form_with model: @newsletter, url: update_sending_settings_path(slug: @newsletter.slug), method: :patch do |form| %>
  <div class="max-w-lg space-y-4">

    <label class="flex items-center gap-1">
      <%= form.check_box :use_custom_domain %>
      <%= form.label :use_custom_domain, "Use Custom Domain", class: "ml-px text-stone-500 text-sm"  %>
    </label>

    <label class="block space-y-1">
      <%= form.label :domain, "Domain Address", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :domain, rows: 5, class: "input w-full block" %>
      <div class="font-sans text-xs text-stone-400">Do not add https:// or http:// just the domain name, like "exmaple.com"</div>
    </label>

    <label class="block space-y-1">
      <%= form.label :sending_address, "Sending Address", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :sending_address, rows: 5, class: "input w-full block" %>
    </label>

    <label class="block space-y-1">
      <%= form.label :reply_to, "Reply To", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :reply_to, rows: 5, class: "input w-full block" %>
    </label>
  </div>
  <div class="mt-5">
    <%= form.submit 'Update Settings', class: 'btn btn-primary' %>
  </div>
<% end %>

<% if @newsletter.use_custom_domain %>
<section class="mt-8">
  <div class="max-w-lg">
    <h3 class="text-lg font-medium text-stone-800">Domain Verificaiton</h3>
    <p class="mt-1 text-stone-600">Add the following DNS records to your DNS settings, to verify your domain. Verification ensures your emails are delivered properly and does not end up in spam.</p>
  </div>

  <div class="px-4 py-2 mt-4 space-y-2 font-mono text-xs rounded-lg bg-stone-100 text-stone-800">
    <div class="grid grid-cols-11 gap-2 font-medium tracking-widest uppercase text-stone-500">
      <div class="col-span-1">Type</div>
      <div class="col-span-5">Name</div>
      <div class="col-span-5">Value</div>
    </div>
    <% @newsletter.dns_records.each do |record| %>
      <div class="grid grid-cols-11 gap-2">
        <div class="flex items-center col-span-1 gap-1">
          <%= record[:type] %>
        </div>
        <div class="flex items-center col-span-5 gap-1">
          <span><%= record[:name] %></span>
          <%= button_to_copy_to_clipboard(record[:name]) do %>
            <span class="sr-only">Copy URL</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-stone-600">
              <path d="M5.5 3.5A1.5 1.5 0 0 1 7 2h2.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 1 .439 1.061V9.5A1.5 1.5 0 0 1 12 11V8.621a3 3 0 0 0-.879-2.121L9 4.379A3 3 0 0 0 6.879 3.5H5.5Z" />
              <path d="M4 5a1.5 1.5 0 0 0-1.5 1.5v6A1.5 1.5 0 0 0 4 14h5a1.5 1.5 0 0 0 1.5-1.5V8.621a1.5 1.5 0 0 0-.44-1.06L7.94 5.439A1.5 1.5 0 0 0 6.878 5H4Z" />
            </svg>
          <% end %>
        </div>
        <div class="flex items-center col-span-5 gap-1">
          <span><%= record[:value] %></span>
          <%= button_to_copy_to_clipboard(record[:value]) do %>
            <span class="sr-only">Copy URL</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 text-stone-600">
              <path d="M5.5 3.5A1.5 1.5 0 0 1 7 2h2.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 1 .439 1.061V9.5A1.5 1.5 0 0 1 12 11V8.621a3 3 0 0 0-.879-2.121L9 4.379A3 3 0 0 0 6.879 3.5H5.5Z" />
              <path d="M4 5a1.5 1.5 0 0 0-1.5 1.5v6A1.5 1.5 0 0 0 4 14h5a1.5 1.5 0 0 0 1.5-1.5V8.621a1.5 1.5 0 0 0-.44-1.06L7.94 5.439A1.5 1.5 0 0 0 6.878 5H4Z" />
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<% end %>