<%= render 'newsletters/settings/partials/header' %>

<%= form_with model: @newsletter, url: update_sending_settings_path(slug: @newsletter.slug), method: :patch do |form| %>
  <div class="max-w-lg space-y-4">

    <label class="flex items-center gap-1">
      <%= form.check_box :use_custom_domain %>
      <%= form.label :use_custom_domain, "Use Custom Domain", class: "ml-px text-stone-500 text-sm"  %>
    </label>

    <label class="block space-y-1">
      <%= form.label :domain, "Domain Address", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :domain, rows: 5, class: "input w-full block" %>
      <div class="font-sans text-xs text-stone-400">Do not add https:// or http:// just the domain name, like "example.com"</div>
    </label>

    <label class="block space-y-1">
      <%= form.label :sending_address, "Sending Address", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :sending_address, rows: 5, class: "input w-full block" %>
    </label>

    <label class="block space-y-1">
      <%= form.label :reply_to, "Reply To", class: "ml-px text-stone-500 text-sm"  %>
      <%= form.text_field :reply_to, rows: 5, class: "input w-full block" %>
    </label>
  </div>
  <div class="mt-5">
    <%= form.submit 'Update Settings', class: 'btn btn-primary' %>
  </div>
<% end %>

<% if @newsletter.use_custom_domain %>
<section class="mt-8">
  <div class="max-w-lg">
    <h3 class="text-lg font-medium text-stone-800">Domain Verificaiton Pending</h3>
    <p class="mt-1 text-stone-600">Add the following DNS records to your DNS settings, to verify your domain. Verification ensures your emails are delivered properly and does not end up in spam.</p>
  </div>

  <div class="px-4 py-2 mt-4 space-y-2 font-mono text-xs rounded-lg bg-stone-100 text-stone-800">
    <div class="grid grid-cols-11 gap-2 font-medium tracking-widest uppercase text-stone-500">
      <div class="col-span-1">Type</div>
      <div class="col-span-5">Name</div>
      <div class="col-span-5">Value</div>
    </div>
    <% @newsletter.dns_records.each do |record| %>
      <div class="grid grid-cols-11 gap-2">
        <div class="flex items-center col-span-1 gap-1">
          <%= record[:type] %>
        </div>
        <div class="flex items-center col-span-5 gap-1">
          <span><%= record[:name] %></span>
          <%= button_to_copy_to_clipboard(record[:name]) do %>
            <span class="sr-only">Copy URL</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 default-icon text-stone-400">
              <path fill-rule="evenodd" d="M11.986 3H12a2 2 0 0 1 2 2v6a2 2 0 0 1-1.5 1.937v-2.523a2.5 2.5 0 0 0-.732-1.768L8.354 5.232A2.5 2.5 0 0 0 6.586 4.5H4.063A2 2 0 0 1 6 3h.014A2.25 2.25 0 0 1 8.25 1h1.5a2.25 2.25 0 0 1 2.236 2ZM10.5 4v-.75a.75.75 0 0 0-.75-.75h-1.5a.75.75 0 0 0-.75.75V4h3Z" clip-rule="evenodd" />
              <path d="M3 6a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-3.586a1 1 0 0 0-.293-.707L7.293 6.293A1 1 0 0 0 6.586 6H3Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="hidden text-stone-800 size-3 success-icon">
              <path fill-rule="evenodd" d="M11.986 3H12a2 2 0 0 1 2 2v6a2 2 0 0 1-1.5 1.937V7A2.5 2.5 0 0 0 10 4.5H4.063A2 2 0 0 1 6 3h.014A2.25 2.25 0 0 1 8.25 1h1.5a2.25 2.25 0 0 1 2.236 2ZM10.5 4v-.75a.75.75 0 0 0-.75-.75h-1.5a.75.75 0 0 0-.75.75V4h3Z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M2 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7Zm6.585 1.08a.75.75 0 0 1 .336 1.005l-1.75 3.5a.75.75 0 0 1-1.16.234l-1.75-1.5a.75.75 0 0 1 .977-1.139l1.02.875 1.321-2.64a.75.75 0 0 1 1.006-.336Z" clip-rule="evenodd" />
            </svg>
          <% end %>
        </div>
        <div class="flex items-center col-span-5 gap-1">
          <span><%= record[:value] %></span>
          <%= button_to_copy_to_clipboard(record[:value]) do %>
            <span class="sr-only">Copy URL</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-3 default-icon text-stone-400">
              <path fill-rule="evenodd" d="M11.986 3H12a2 2 0 0 1 2 2v6a2 2 0 0 1-1.5 1.937v-2.523a2.5 2.5 0 0 0-.732-1.768L8.354 5.232A2.5 2.5 0 0 0 6.586 4.5H4.063A2 2 0 0 1 6 3h.014A2.25 2.25 0 0 1 8.25 1h1.5a2.25 2.25 0 0 1 2.236 2ZM10.5 4v-.75a.75.75 0 0 0-.75-.75h-1.5a.75.75 0 0 0-.75.75V4h3Z" clip-rule="evenodd" />
              <path d="M3 6a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-3.586a1 1 0 0 0-.293-.707L7.293 6.293A1 1 0 0 0 6.586 6H3Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="hidden text-stone-800 size-3 success-icon">
              <path fill-rule="evenodd" d="M11.986 3H12a2 2 0 0 1 2 2v6a2 2 0 0 1-1.5 1.937V7A2.5 2.5 0 0 0 10 4.5H4.063A2 2 0 0 1 6 3h.014A2.25 2.25 0 0 1 8.25 1h1.5a2.25 2.25 0 0 1 2.236 2ZM10.5 4v-.75a.75.75 0 0 0-.75-.75h-1.5a.75.75 0 0 0-.75.75V4h3Z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M2 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7Zm6.585 1.08a.75.75 0 0 1 .336 1.005l-1.75 3.5a.75.75 0 0 1-1.16.234l-1.75-1.5a.75.75 0 0 1 .977-1.139l1.02.875 1.321-2.64a.75.75 0 0 1 1.006-.336Z" clip-rule="evenodd" />
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <p class="mt-1 ml-1 font-sans text-xs text-stone-400">In case you're facing any trouble, you can drop us an email, and we will help you set it up.</p>
  <div class="mt-4">
    <%= link_to %>
    <button class="btn btn-secondary">
      Verify DNS Records
    </button>
  </div>
</section>
<% end %>