<%= render 'newsletters/settings/partials/header' %>
<section>
  <div class="max-w-lg mt-5">
    <h3 class="text-lg font-medium text-stone-800">Embedding</h3>
    <p class="mt-1 text-stone-600">Below is an example of customizable HTML code for an email subscription form that you can easily integrate and style to match your site.</p>
  </div>
  <div class="relative font-mono text-xs">
    <div class="absolute right-2 top-2">
      <%= button_to_copy_to_clipboard(@newsletter.embded_form(with_name: true)) %>
    </div>
    <div class="px-4 py-2 mt-2 space-y-2 overflow-y-scroll rounded-lg bg-stone-100 text-stone-800 max-h-80">
      <pre><%= render html: @newsletter.embded_form(with_name: true) %></pre>
    </div>
  </div>
  <div class="relative font-mono text-xs">
    <div class="absolute top-2 right-2">
      <%= button_to_copy_to_clipboard(@newsletter.embded_form_css) %>
    </div>
    <div class="px-4 py-2 mt-2 space-y-2 overflow-y-scroll rounded-lg bg-stone-100 text-stone-800 max-h-80">
      <pre><%= render html: @newsletter.embded_form_css %></pre>
    </div>
  </div>
</section>
<%= form_with model: @newsletter, url: update_signup_flow_settings_path(slug: @newsletter.slug), method: :patch do |form| %>
  <div class="mt-5">
    <%= form.submit 'Update Settings', class: 'btn btn-primary' %>
  </div>
<% end %>
