<section class="px-3 py-2 rounded-md bg-stone-50 outline-stone-200 outline outline-1">
  <% if @subscriber.unsubscribed? && @subscriber.unsubscribe_reason %>
    <div class="leading-6 font-normal text-stone-500 text-sm font-sans mb-2">
      This member was unsubscribed because
      <% case @subscriber.unsubscribe_reason %>
      <% when 'bounced' %>
        <span class="font-medium text-stone-800">
          their email bounced twice.
        </span>
      <% when 'complained' %>
        <span class="font-medium text-stone-800">
          they complained and were automatically marked.
        </span>
      <% when 'spam' %>
        <span class="font-medium text-stone-800">
          the system detected their email as spam.
        </span>
      <% end %>
    </div>
  <% end %>

  <div class="leading-6 text-stone-800 font-medium text-sm font-sans">
    <% if @subscriber.unsubscribed? %>
      <span class="font-normal text-stone-500">Unsubscribed on</span>
      <span
        data-controller="utc-time"
        data-utc-time-epoch-ms-value="<%= (@subscriber.unsubscribed_at.to_f * 1000).to_i %>"
        data-utc-time-format-value="date"
      ><%= @subscriber.unsubscribed_at.utc.strftime("%B %d, %Y UTC") %></span>
      <span class="font-normal text-stone-500">at</span>
      <span
        class="uppercase"
        data-controller="utc-time"
        data-utc-time-epoch-ms-value="<%= (@subscriber.unsubscribed_at.to_f * 1000).to_i %>"
        data-utc-time-format-value="time"
      ><%= @subscriber.unsubscribed_at.utc.strftime("%I:%M %p UTC") %></span>
    <% end %>
  </div>

  <% if @subscriber.verified? %>
    <div class="leading-6 text-stone-800 font-medium text-sm font-sans">
      <span class="font-normal text-stone-500">Verified on</span>

      <span
        data-controller="utc-time"
        data-utc-time-epoch-ms-value="<%= (@subscriber.verified_at.to_f * 1000).to_i %>"
        data-utc-time-format-value="date"
      ><%= @subscriber.verified_at.utc.strftime("%B %d, %Y UTC") %></span>
      <span class="font-normal text-stone-500">at</span>

      <span
        class="uppercase"
        data-controller="utc-time"
        data-utc-time-epoch-ms-value="<%= (@subscriber.verified_at.to_f * 1000).to_i %>"
        data-utc-time-format-value="time"
      ><%= @subscriber.verified_at.utc.strftime("%I:%M %p UTC") %></span>
    </div>
  <% end %>

  <div class="leading-6 text-stone-800 font-medium text-sm font-sans">
    <span class="font-normal text-stone-500">Created on</span>

    <span
      data-controller="utc-time"
      data-utc-time-epoch-ms-value="<%= (@subscriber.created_at.to_f * 1000).to_i %>"
      data-utc-time-format-value="date"
    ><%= @subscriber.created_at.utc.strftime("%B %d, %Y UTC") %></span>
    <span class="font-normal text-stone-500">at</span>

    <span
      class="uppercase"
      data-controller="utc-time"
      data-utc-time-epoch-ms-value="<%= (@subscriber.created_at.to_f * 1000).to_i %>"
      data-utc-time-format-value="time"
    ><%= @subscriber.created_at.utc.strftime("%I:%M %p UTC") %></span>
  </div>

  <% if @subscriber.analytics_data.present? %>
    <hr class="my-3">
    <% @subscriber.analytics_data.each do |key, value| %>
      <% if value.present? %>
        <div class="leading-6 text-stone-800 font-medium text-sm font-sans">
          <span class="font-normal text-stone-500"><%= key.titleize %>:</span>
          <%= value %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</section>
