<% is_new = label.new_record? %>

<%= labeled_form_with model: label, url: is_new ? labels_path : label_path(@newsletter.slug, label.id), method: is_new ? :post : :patch, class: "flex flex-col gap-4" do |form| %>
  <div data-controller="auto-slug">
    <%= form.text_field :name,
                    label: "Name",
                    data: { "auto-slug-target": "title" },
                    disabled: !is_new,
                    hint: is_new ? "Will be saved as: <span class='text-stone-600' data-auto-slug-target='slug'></span>" : nil %>
  </div>

  <%= form.text_area :description,
                 label: "Description" %>

  <div class="space-y-1" data-controller="color-picker" data-color-picker-auto-random-value="<%= is_new ? 'true' : 'false' %>">
    <%= form.label :color, "Color", class: "ml-px text-sm text-stone-500 font-sans" %>
    <div class="border border-stone-300 px-1 py-1 rounded-md flex items-center gap-2">
      <%= form.color_field :color,
                       data: { "color-picker-target": "colorPicker" },
                       class: "bg-transparent size-6 rounded-sm overflow-hidden [&::-webkit-color-swatch-wrapper]:p-0 [&::-webkit-color-swatch-wrapper]:border-0" %>
      <span data-color-picker-target="hex"></span>
    </div>
  </div>

  <%= form.submit is_new ? "Create Label" : "Update Label",
              class: "mt-4 font-sans text-sm btn btn-primary" %>
<% end %>
