<div class="gap-2 py-4 group grid grid-cols-5 max-w-4xl">
  <div class="flex items-center gap-2 col-span-1">
    <div class="w-4 h-4 rounded" style="background-color: <%= label.color %>"></div>
    <h3 class="font-medium"><%= label.name %></h3>
  </div>
  <div class="col-span-2 font-sans">
    <% if label.description.present? %>
      <p class="mt-0.5 text-sm text-stone-500"><%= label.description %></p>
    <% end %>
  </div>
  <div class="col-span-1 font-sans">
    <% if label.description.present? %>
      <p class="mt-0.5 text-sm text-stone-500">
        <% subscriber_count = @newsletter.subscribers.with_all_labels(label.name).count %>
        <%= subscriber_count %>
        <%= "Subscriber".pluralize(subscriber_count) %>
      </p>
    <% end %>
  </div>
</div>
