<a href="#" class="grid grid-cols-4 py-4 font-sans hover:bg-gradient-to-r from-slate-50/10 via-stone-50 to-slate-50/10">
  <div class="col-span-2">
    <h2><%= subscriber.email %></h2>
  </div>
  <div class="font-sans text-sm leading-6 text-right text-stone-500">
      <% if subscriber.status == 'unsubscribed' %>
        Unsubscribed on <b class="font-medium text-stone-700"><%= subscriber.unsubscribed_at.strftime("%B %d, %Y") %></b>
      <% elsif subscriber.status == 'verified' %>
        Verified on <b class="font-medium text-stone-700"><%= subscriber.verified_at.strftime("%B %d, %Y") %></b>
      <% elsif subscriber.status == 'unverified' %>
        Signed up on <b class="font-medium text-stone-700"><%= subscriber.created_at.strftime("%B %d, %Y") %></b>
      <% end %>
  </div>
  <div class="font-sans text-sm leading-6 text-right text-stone-500">
    Created on <b class="font-medium text-stone-700"><%= subscriber.created_at.strftime("%B %d, %Y") %></b>
  </div>
</a>