<%= post_action_card(
  title: "Choose audience",
  description: "Select which cohort to send this post to, or send to all subscribers."
) do %>
  <%= form_with model: post, url: post_path(slug: post.newsletter.slug, id: post.id), method: :patch do |form| %>
    <div class="flex w-full gap-2 mt-1">
      <div class="flex-grow">
        <%= form.label :cohort_id, "Send to", class: "block text-sm font-medium text-stone-700 sr-only" %>
        <%= form.select :cohort_id,
            nil,
            {},
            {
              class: "input w-full cohort-select"
            } do %>
          <option value="">
            <%= cohort_icon(icon: 'user-group', color: '#EF4444', size: 'md') %>
            <span>All subscribers</span>
            <span class="subscriber-badge"><%= post.newsletter.subscribers.verified.count %></span>
          </option>
          <% post.newsletter.cohorts.each do |cohort| %>
            <option value="<%= cohort.id %>" <%= 'selected' if post.cohort_id == cohort.id %>>
              <%= cohort_icon(icon: cohort.icon, color: cohort.color, size: 'md') %>
              <span><%= cohort.name %></span>
              <span class="subscriber-badge"><%= cohort.subscriber_count %></span>
            </option>
          <% end %>
        <% end %>
      </div>
      <div class="flex-shrink-0">
        <%= form.submit "Update Audience", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
