<% if post.scheduled? %>
  <div
    class="
      border border-stone-200 bg-stone-100 rounded-2xl p-6 -mx-5 gap-5 flex
      items-start
    "
  >
    <!-- Enhanced Calendar Icon -->
    <div
      class="
        size-[52px] rounded-xl bg-white border flex flex-col border-stone-600
        overflow-hidden
      "
    >
      <div
        class="
          bg-stone-600 py-[5px] text-center text-[11px] leading-none font-bold text-white
          uppercase tracking-wide
        "
      >
        <%= post.scheduled_at_tz.strftime("%b") %>
      </div>
      <div
        class="
          flex flex-grow items-center justify-center w-full text-center bg-white
        "
      >
        <div
          class="
            text-xl font-sans font-bold leading-none text-stone-800 tabular-nums
          "
        ><%= post.scheduled_at_tz.strftime("%-d") %></div>
      </div>
    </div>
    <!-- Content -->
    <div class="flex-1 min-w-0 font-sans">
      <h3 class="text-lg font-semibold text-stone-800 mb-0.5 -mt-0.5">Post Scheduled</h3>
      <div class="flex gap-5">
        <div class="flex items-center gap-2 text-sm text-stone-500">
          <%= lucide_icon("calendar", class: "size-4 text-stone-500") %>
          <span class="font-medium text-stone-800"><%= post.scheduled_at_tz.strftime("%A, %B %e, %Y") %></span>
        </div>

        <div class="flex items-center gap-2 text-sm text-stone-500">
          <%= lucide_icon("clock-2", class: "size-4 text-stone-500") %>
          <span class="font-medium text-stone-800"><%= post.scheduled_at_tz.strftime("%H:%M %p") %></span>
          <span class="text-stone-500">(<%= post.scheduled_at_tz.zone %>)</span>
        </div>
      </div>
      <p class="mt-2 text-stone-500">
        This post will automatically be sent to all your subscribers. You can
        still makes changes to the draft without affecting the schedule
      </p>
    </div>
    <%= form_with model: post, url: unschedule_post_path(slug: post.newsletter.slug, id: post.id), method: :post do |form| %>
      <%= form.submit "Unschedule Post", class: "btn bg-white" %>
    <% end %>
  </div>
<% else %>
  <div
    class="
      border border-stone-200 bg-stone-100 rounded-2xl p-6 -mx-5 gap-5 font-sans
    "
  >
    <h3 class="text-lg font-semibold text-stone-800 -mt-0.5">Schedule this post</h3>
    <p class="text-stone-600">Schedule it to automatically send it later. You can disable this later.</p>
    <%= form_with model: post, url: schedule_post_path(slug: post.newsletter.slug, id: post.id), class: "mt-4", method: :post do |form| %>
      <div class="hidden space-y-1">
        <%= form.text_field :timezone,
                        class: "input w-full",
                        data: {
                          controller: "auto-timezone",
                        } %>
      </div>
      <div class="flex w-full gap-2 mt-1">
        <div class="flex-grow">
          <%= form.label :scheduled_at,
                     "Send at",
                     class: "block text-sm font-medium text-stone-700 sr-only" %>
          <%= form.datetime_field :scheduled_at,
                              required: true,
                              class: "input w-full font-sans" %>
        </div>
        <div class="flex-shrink-0">
          <%= form.submit "Schedule for later", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
