<%= post_action_card(
  title: "Schedule this post",
  description: "Schedule it to automatically send it later. You can disable this later."
) do %>
  <%= form_with model: post, url: schedule_post_path(slug: post.newsletter.slug, id: post.id), method: :post do |form| %>
    <div class="hidden space-y-1">
      <%= form.text_field :timezone,
                      class: "input w-full",
                      data: {
                        controller: "auto-timezone",
                      } %>
    </div>
    <div class="flex w-full gap-2 mt-1">
      <div class="flex-grow">
        <%= form.label :scheduled_at,
                   "Send at",
                   class: "block text-sm font-medium text-stone-700 sr-only" %>
        <%= form.datetime_field :scheduled_at,
                            required: true,
                            class: "input w-full font-sans" %>
      </div>
      <div class="flex-shrink-0">
        <%= form.submit "Schedule for later", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>