<%= render "newsletters/settings/partials/header" %>

<div class="space-y-8">
  <%= render "newsletters/settings/partials/settings_section", title: "Sending Domain", subtitle: "Configure your custom sending domain to improve deliverability. You can also use the default domain mail.picoletter.com." do %>
    <%= labeled_form_with model: @newsletter, url: settings_sending_path(slug: @newsletter.slug), method: :patch, permission: :sending do |form| %>
      <div class="max-w-lg space-y-4">
        <%= form.text_field :sending_name,
                        placeholder: "Shivam from Picoletter",
                        label: "Sending From" %>

        <%= form.text_field :sending_address,
                        placeholder: "updates@picoletter.com",
                        label: "Sending Address" %>

        <%= form.text_field :reply_to,
                        placeholder: "hey@picoletter.com",
                        label: "Reply To" %>
      </div>
      <div class="mt-5"><%= form.submit "Update Settings", class: "btn btn-primary" %></div>
    <% end %>
  <% end %>

  <% if @newsletter.sending_domain.present? %>
    <% if @newsletter.ses_verified? or true %>
      <%= render "newsletters/settings/partials/settings_section", title: "✅ Domain is Verified", subtitle: "Your domain has been verified successfully. You can now send emails from **#{@newsletter.sending_address}**. The following are the DNS records you have added." do %>
        <%= render "newsletters/settings/partials/dns_records", newsletter: @newsletter %>
      <% end %>
    <% else %>
      <%= render "newsletters/settings/partials/settings_section", title: "Domain Verification", subtitle: "Add the following DNS records to your DNS settings, to verify your domain. Verification ensures your emails are delivered properly and does not end up in spam. Please note that it can can take a couple of hours for the DNS records to start reflecting." do %>
        <%= labeled_form_with model: @newsletter, url: settings_sending_verify_domain_path(slug: @newsletter.slug), method: :post do |form| %>
          <%= render "newsletters/settings/partials/dns_records", newsletter: @newsletter %>
          <p class="mt-1 ml-1 font-sans text-xs text-stone-400">
            In case you're facing any trouble, you can drop us an email, and we will help you set it up.
          </p>

          <div class="mt-4"><%= form.submit "Verify DNS Records", class: "btn btn-secondary" %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
