<!DOCTYPE html>

<html>
  <head>
    <title>Picoletter</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <link rel="dns-prefetch" href="https://esm.sh">
    <link rel="preconnect" href="https://esm.sh" crossorigin>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if controller_name.in?(['sessions', 'users', 'passwords']) && action_name.in?(['new', 'create', 'edit', 'update']) %>
      <meta name="turbo-visit-control" content="reload">
    <% end %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "lexxy", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "lexxy_overrides", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body class="bg-stone-100">
    <% if notice = flash[:notice] || flash[:alert] %>
      <div class="flash" data-controller="element-removal" data-action="animationend->element-removal#remove">
        <div
          class="
            flex items-center justify-center px-4 py-2 m-auto mt-3 font-sans text-sm
            text-white rounded-md shadow-sm bg-stone-900 font-sm flash__inner
          "
        >
          <%= notice %>
        </div>
      </div>
    <% end %>

    <main class="container px-5 mx-auto"><%= yield %></main>
    <%= render "shared/confirm_dialog" %>
  </body>
</html>
