<!DOCTYPE html>
<html>
  <head>
    <title>PicoLetter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-stone-50 font-serif">
    <main class="container mx-auto px-5">
      <%= yield %>
    </main>
  </body>
</html>
