<!DOCTYPE html>

<html>
  <head>
    <title>Picoletter</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="/favicon.png" type="image/x-icon">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-serif bg-stone-100">
    <main class="px-3 mx-auto max-w-[2000px]">
      <% if notice = flash[:notice] || flash[:alert] %>
        <div
          class="flash"
          data-controller="element-removal"
          data-action="animationend->element-removal#remove"
        >
          <div
            class="
              flex items-center justify-center px-4 py-2 m-auto mt-3 font-sans text-sm
              text-white rounded-md shadow-sm bg-stone-900 font-sm flash__inner
            "
          >
            <%= notice %>
          </div>
        </div>
      <% end %>

      <section class="flex flex-wrap gap-3">
        <%= render "newsletters/sidebar" %>
        <section class="basis-0 flex-grow-[999] [min-inline-size_50%] min-h-screen py-3">
          <section
            class="
              w-full min-h-full py-3 px-5 bg-white border rounded-md
              shadow-sm border-zinc-100
            "
          >
            <%= yield %>
          </section>
        </section>
      </section>
    </main>
  </body>
  <% if Rails.env.production? && AppConfig.get("RORVSWILD__API_KEY").present? %>
    <script src="https://cdn.rorvswild.com/agent.js"></script>
    <script type="text/javascript">
    RorVsWild.start({apiKey: "<%= AppConfig.get("RORVSWILD__API_KEY") %>"})
    </script>
  <% end %>
</html>
