<!DOCTYPE html>
<html>
  <head>
    <title>PicoLetter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-serif bg-stone-100">
    <main class="px-5 mx-auto max-w-7xl">
      <% if notice = flash[:notice] || flash[:alert] %>
        <div
          class="flash"
          data-controller="element-removal"
          data-action="animationend->element-removal#remove"
        >
          <div
            class="
              flex items-center justify-center px-4 py-2 m-auto mt-3 font-sans text-sm
              text-white rounded-md shadow-sm bg-stone-900 font-sm flash__inner
            "
          >
            <%= notice %>
          </div>
        </div>
      <% end %>

      <section class="flex flex-wrap gap-4">
        <%= render "newsletters/sidebar" %>
        <section
          class="
            basis-0 flex-grow-[999] [min-inline-size_50%] min-h-screen py-5
          "
        >
          <section
            class="
              w-full min-h-full p-5 bg-white border rounded-md shadow-sm border-zinc-100
            "
          >
            <%= yield %>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
